In [2]:
import pandas as pd 
import numpy as np

c:\Users\shash\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
mont_dict = {1:'January',2:'February',3:'march',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November ',12:'December'}

In [4]:
df = pd.read_csv('test.csv')

In [5]:
df.insert(7,'Month',True)

In [6]:
from datetime import datetime
date_object = datetime.strptime(df['Tran Date'][0], '%d-%m-%Y').date()
date_object

datetime.date(2022, 1, 1)

In [7]:

for i in range(len(df['Tran Date'])):
    date  = datetime.strptime(df['Tran Date'][i], '%d-%m-%Y').date()
    
    df['Month'][i] = mont_dict.get(date.month)

df

<ipython-input-7-ee67fab349f6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'][i] = mont_dict.get(date.month)

,Tran Date,CHQNO,PARTICULARS,DR,CR,BAL,SOL,Month
0,01-01-2022,-,UPI/P2M/200164735075/GREEN TRE/Paytm Pay/UPI,676.00,,82069.24,1185,January
1,01-01-2022,-,UPI/P2M/200166278845/BharatPe /YesBank_Y/Pay To,503.00,,81566.24,1185,January
2,01-01-2022,-,UPI/P2A/200176004739/PALLAVI R/ICICI Ban/UPI,,250.00,81816.24,1185,January
3,01-01-2022,-,UPI/P2A/200166305147/GOOGLEPAY/Axis Bank/UPI,,6.00,81822.24,1185,January
4,02-01-2022,-,INB/IFT/ANUPAMA SHIVASHANKAR/TPARTY TRANSFER,,15000.00,96822.24,3567,January
...,...,...,...,...,...,...,...,...
1459,23-12-2022,-,UPI/P2M/235767601491/Mr VIJAYA/Yes Bank /UPI,2385.00,,78643.39,1185,December
1460,23-12-2022,-,ECOM PUR/SWIGGY/9113112212/231222/16:15,143.00,,78500.39,1185,December
1461,23-12-2022,-,ECOM PUR/SWIGGY/9113112212/231222/16:47,158.00,,78342.39,1185,December
1462,24-12-2022,-,UPI/P2A/235831315816/SANKALP N/HDFC BANK/UPI,,886.00,79228.39,1185,December
1463,24-12-2022,-,UPI/P2M/235876624461/Hotel shi/Paytm Pay/UPI,85.00,,79143.39,1185,December

In [8]:
len(df)

1464

In [9]:
type(df['Tran Date'][0])

str

In [10]:
# val = df['PARTICULARS'].unique()
# for i in val:
#     if i[0:4]!='ECOM' and i[0] != 'U' and i[0:3]!='ATM' :
#         if '/' in i:
#             s = i
#             print(s)
# val = df['PARTICULARS'].unique()
# for i in val:
#     if i[0:4]!='ECOM' and i[0] != 'U' and i[0:3]!='ATM' :
        
#             s = i
#             s = s[:s.rfind('/')]
#             s = s[:s.rfind('/')]
#             print(s)

In [11]:
df.insert(3,'PAYMENTS',True)
df.insert(4,'PAYMENT_CAT',True)

In [12]:
# for i in range(len(df['PARTICULARS'])):
#     if df['PARTICULARS'][i][0] == 'U':
#         s = df['PARTICULARS'][i][21:]
#         c = df['PARTICULARS'][i][4:]
#         s =  s[0:s.rfind('/')]
#         c =  c[0:c.rfind('/')]
#         c =  c[0:c.rfind('/')]
#         c =  c[0:c.rfind('/')]
#         df['PAYMENT_CAT'][i] = c[0:c.rfind('/')]
#         print(df['PAYMENT_CAT'][i])

In [13]:

for i in range(len(df['PARTICULARS'])):
    if df['PARTICULARS'][i][0] == 'U':
        s = df['PARTICULARS'][i][21:]
        c = df['PARTICULARS'][i][4:]
        s =  s[0:s.rfind('/')]
        df['PAYMENTS'][i] =  s[0:s.rfind('/')]  
        c =  c[0:c.rfind('/')]
        c =  c[0:c.rfind('/')]
        c =  c[0:c.rfind('/')]
        # df['PAYMENT_CAT'][i] = c[0:c.rfind('/')]
        if c[0:c.rfind('/')] == 'P2A':
            df['PAYMENT_CAT'][i] = 'Friend/Person'
        else:
            df['PAYMENT_CAT'][i] = 'Merchant/business'
            
    elif df['PARTICULARS'][i][0:4]=='ECOM':
        s = df['PARTICULARS'][i][9:]
        s =  s[0:s.rfind('/')]
        s =  s[0:s.rfind('/')]     
        df['PAYMENTS'][i] =  s[0:s.rfind('/')]
    elif df['PARTICULARS'][i][0:3]=='ATM':
        df['PAYMENTS'][i] = 'ATM transc'
    else:
        df['PAYMENTS'][i] = 'others'

<ipython-input-13-9b957e4a74f8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PAYMENTS'][i] =  s[0:s.rfind('/')]
<ipython-input-13-9b957e4a74f8>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PAYMENT_CAT'][i] = 'Merchant/business'

In [14]:
items = {"Food": ['ZOMATO','Zomato','Swiggy','SWIGGY','Zomato Lt','KABAB MEH','Kalkata K','EatClub'],
         "Clg canteen":['BHAGYA M','Bhagya'],
         'Restraunt': ['CHEF BAKE','Kabab Cou','C2  Kitch','WOW MOMO ','Empire Re','Plan B - ','Dominos P','TIPSY BUL''Roll magi','DOMINOS P','Cookie Ma','Theobroma','S L V SWE','mad over','Pizza Hut','BOBA TREE','THEOBROMA','McDonalds','TAAZA MIT'],
         'Bills/Phone/internet':['JioFiber','Jio Mobil','JIO Mumbai','JIOPAY'],
         'Subscription':['SonyLIV','Sony Pict','NETFLIX C',],
         'Amazon':['AMAZON','Amazon.in-Gro','Amazon Pa','Amazon Seller'],
         'Cab/Auto':['OLACABS','OLA Postp','OlaFinanc','olamoney1','WWW OLACABS C','UBER INDI','UBER INDIA SY',],
         'Petrol':['JRB FUEL ','BP Petrol',' JRB FUEL','Indian Oi', 'R R PETRO'],
         'Groceries/General':['Anu Provi','Grofers I','GROFERS I','SWIGGY INSTAM','MEGA XPRE'],
         'Travel/Vacation/Fun': ['IRCTC', 'IRCTC Web','MAKEMYTRIP IN', 'airbnb','MAKEMYTRIP (I'],
         'clgParking' : ['G UMAPATH']}

In [15]:
df.insert(5,'Category',True)

In [16]:
for i in range(len(df['PAYMENTS'])):
    if df['PAYMENTS'][i] in items.get('Food'):
        df['Category'][i] = 'Food'
    elif df['PAYMENTS'][i] in items.get("Clg canteen"):
        df['Category'][i] = "Clg canteen"
    elif df['PAYMENTS'][i] in items.get('Restraunt'):
        df['Category'][i] = 'Restraunt'
    elif df['PAYMENTS'][i] in items.get('Bills/Phone/internet'):
        df['Category'][i] = 'Bills/Phone/internet'
    elif df['PAYMENTS'][i] in items.get('Subscription'):
        df['Category'][i] = 'Subscription'
    elif df['PAYMENTS'][i] in items.get('Amazon'):
        df['Category'][i] = 'Amazon'
    elif df['PAYMENTS'][i] in items.get('Cab/Auto'):
        df['Category'][i] = 'Cab/Auto'
    elif df['PAYMENTS'][i] in items.get('Food'):
        df['Category'][i] = 'Food'
    elif df['PAYMENTS'][i] in items.get('Petrol'):
        df['Category'][i] = 'Petrol'
    elif df['PAYMENTS'][i] in items.get('Groceries/General'):
        df['Category'][i] = 'Groceries/General'
    elif df['PAYMENTS'][i] in items.get('Travel/Vacation/Fun'):
        df['Category'][i] = 'Travel/Vacation/Fun'
    elif df['PAYMENTS'][i] in items.get('clgParking'):
        df['Category'][i] = 'clgParking'
    else:
        df['Category'][i] = 'Others'

<ipython-input-16-3b0e17d093d4>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'][i] = 'Others'

# connection to sql

In [17]:
import mysql.connector

In [18]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="financemng"
)
mycursor =mydb.cursor()

In [19]:
for i in range(len(df['Tran Date'])):
    df['Tran Date'][i]  = datetime.strptime(df['Tran Date'][i], '%d-%m-%Y').date()

<ipython-input-19-990d7bfb06c7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tran Date'][i]  = datetime.strptime(df['Tran Date'][i], '%d-%m-%Y').date()

## creating table

In [20]:
# mycursor.execute("CREATE TABLE Payment_Table(TranDate DATE,PARTICULARS VARCHAR(100),PAYMENTS VARCHAR(20),Category VARCHAR(20),DR FLOAT(10,2),CR FLOAT(10,2),BAL FLOAT(10,2),Month VARCHAR(10),tranID int PRIMARY KEY AUTO_INCREMENT)")

## inserting into table

In [21]:
# for i in range(len(df['Tran Date'])):
#     sql = f"INSERT INTO payment_table(TranDate,PARTICULARS,PAYMENTS,Category,DR,CR,BAL,Month) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
#     val = [df['Tran Date'][i],df['PARTICULARS'][i],df['PAYMENTS'][i],df['Category'][i],df['DR'][i],df['CR'][i],df['BAL'][i],df['Month'][i]]
#     mycursor.execute(sql,val)
#     mydb.commit()